$color-white: #fff;
$color-black: #000;
$color-google-blue: #4285f4;
$color-orange: #ff6b1f;
$color-athens-gray: #e2e5e9;
$color-red: rgb(203, 29, 29);

$breakpoint-xs: 640px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1536px;
$breakpoint-hd: 1920px;
